body {
    font-family: Arial;
    padding: 30px;
    background-color: #f5f5f5;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

h3 {
    margin-top: 25px;
}